
.chat-window{
  border: 2px solid #e6e6e6;
}

.navbar-header h2{
  margin: 0;
}

div.form-group {
  width: 90%;
}

input.form-control {
  width: 70%;
  margin-left: 10px;
}

#chat-input {
  width: 70%;
}
